<!DOCTYPE html>
<html lang="en">

<head>
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap-theme.min.css' %}">
	<title>
		{% block title %}
		Timetable
		{% endblock %}
	</title>
	<style>
	* {
    margin: 0;
	}
	html, body {
	    height: 100%;
	}
	.wrapper {
	    min-height: 100%;
	    height: auto !important;
	    height: 100%;
	    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
	}
	.footer, .push {
	    height: 142px; /* .push must be the same height as .footer */
	}
	.category-cal {
		border-spacing: 2px;
    border-collapse: separate;
	}
	.category-cal td {
		background-color: #eeeeee;
		font-size: 6px;
	}
	.category-cal .studied {
		background-color: #8cc665;
	}
	.profile-image {
		position: relative;
    top: -5px;
    float: left;
    left: -5px;
		width: 30px;
		height: 30px;
	}
	</style>
</head>

<body style="margin-bottom:60px">

	<nav id="nav" class="navbar navbar-default">
		{% block sidebar %}
		<div class="container">
	  		<div class="navbar-header">
	    		<a class="navbar-brand" href="{% url 'index' %}">Timetable</a>
			</div>
			<form class="navbar-form navbar-left" action="{% url 'search' %}" method="get" role="search">
			{% csrf_token %}
				<div class="form-group">
					<input type="text" class="form-control" name="q" id="q" placeholder="ex) 파이썬">
				</div>
				<button type="submit" class="btn btn-default">검색</button>
			</form>

			<ul class="nav navbar-nav navbar-right">
				<li></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ user.get_profile_image }}" class="profile-image img-circle"> {{ user.username }} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'cal' %}">Calendar</a></li>
						<li><a href="{% url 'me' %}">Viewers</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{% url 'log_out' %}" class="navbar-link">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
		{% endblock %}
	</nav>

	<div id="content" class="wrapper">
		{% block content %}
		{% endblock %}
		<div class="push">
		</div>
	</div>
	<div id="footer" style="margin-top:60px" class="footer">
		{% block footer %}
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				©2016 <span id="my-name">Eunjung Choi</span>
				</div>
			</div>
		</div>
		{% endblock %}
	</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>안녕하세요. jquery 왕입니다.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="{% static 'jquery-3.1.0/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

<script src="{% static 'lodash-4.13.1/lodash.min.js' %}"></script>
<script>
// $(function() {
$( document ).ready(function(){
	// console.log("document ready!!!")
	//
	// // $("#content").click(function() {
	// $("#content").on("click", function() {
	// 	console.log("content clicked!!")
	// })
	//
	// $("#content").on("hover", function() {
	// 	console.log("content hover!!")
	// })

	// $("tr").hover(
	// 	function() {
	// 		$(this).css("background-color", "red")
	// 	},
	// 	function() {
	// 		$(this).css("background-color", "")
	// 	}
	// )


	$("#add_category_form").on("submit", function(e) {
		e.preventDefault();

		if ( !$("#add_category_form input[name='name']").val() ) {
			alert("카테고리를 입력해주세요");
			return;
		}

		var request = $.ajax({
			url : $(this).attr('action'),
			method : $(this).attr('method'),
			data: $(this).serialize(),
		})

		request.done(function(data) {
			var value = data.name

			var compiled = _.template('			<label class="checkbox-inline">\
				<input type="checkbox" name="id" id="cat_id_to_del" value="<%= id %>"> <%= name %>\
			</label>');
			var label = compiled({
				'id': data.id,
				'name': value,
			});

			// var cloned = $("#delete_category_form .checkbox-inline:last").clone()
			// var input_cloned = cloned.find("input")
			// input_cloned.val(value);
			// cloned.text(" " + value).prepend(input_cloned);

			$("#delete_category_form .checkbox-inline:last").after(label)
			$("#add_category_form input[name='name']").val("")
		})

		request.fail(function(data) {
			console.log(data.responseJSON.message)
			alert(data.responseJSON.message);
		})
	})


	$("#delete_category_form").on("submit", function(e) {
		e.preventDefault();

		if ( $("#delete_category_form input[name='cat_id_to_del']:checked").length == 0) {
			alert("삭제할 카테고리를 선택해주세요");
			return;
		}

		var request = $.ajax({
			url : $(this).attr('action'),
			method : $(this).attr('method'),
			data: $(this).serialize(),
		})

		request.done(function(data) {
			$("#delete_category_form input[type='checkbox']:checked").parent().remove()
		})

		request.fail(function() {
			console.log("fail")
		})
	})



	$("#add_viewer_form").on("submit", function(e) {
		e.preventDefault();

		if ( !$("#add_viewer_form input[name='viewer_id_to_add']").val() ) {
			alert("추가할 ID를 입력해주세요");
			return;
		}

		var request = $.ajax({
			url : $(this).attr('action'),
			method : $(this).attr('method'),
			data: $(this).serialize(),
		})

		request.done(function(data) {
			var value = data.viewer_id
			var cloned = $("#delete_viewer_form .checkbox-inline:last").clone()
			var input_cloned = cloned.find("input")
			input_cloned.val(value)
			cloned.text(" " + value).prepend(input_cloned)

			elems = $("#delete_viewer_form .checkbox-inline")
			var index = elems.length;
			for ( var i = 0 ; i < elems.length ; i++ ) {
				if ( parseInt($(elems[i]).text()) <= value )
					continue;
				index = i;
				break;
			}

			// $("#delete_viewer_form .checkbox-inline:last").after('<label class="checkbox-inline" for="each_id_to_del"><input type="checkbox" name="each_id_to_del" value="'+value+'"> '+value+'</label>')
			// $("#delete_viewer_form .checkbox-inline:last").after(cloned)
			$("#delete_viewer_form .checkbox-inline:eq("+(index-1)+")").after(cloned)

			$("#add_viewer_form input[name='viewer_id_to_add']").val("")
		})
		request.fail(function() {
			console.log("fail")
		})
	})

	$("#delete_viewer_form").on("submit", function(e) {
		e.preventDefault();

		if ( $("#delete_viewer_form input[name='each_id_to_del']:checked").length == 0) {
			alert("삭제할 ID를 선택해주세요");
			return;
		}

		var request = $.ajax({
			url : $(this).attr('action'),
			method : $(this).attr('method'),
			data: $(this).serialize(),
		})

		request.done(function(data) {
			$("#delete_viewer_form input[name='each_id_to_del']:checked").parent().remove()
		})

		request.fail(function() {
			console.log("fail")
		})
	})

	$("#my-name").on("click", function(e) {
		// alert("안녕하세요. jquery 왕입니다");
		$('#myModal').modal('show')
		return;
	})
})
</script>
</body>
</html>
