<h1>열심히 공부하고 있습니다</h1>


<table>
 <tr>
 	<th>date</th>
 	<th>title</th>
 	<th>python</th>
 	<th>django</th>
 	<th>coding</th>
 	<th>algorithm</th>
 	<th>extra</th>
 </tr>
{% for study in study_list %}
 <tr>
 	<td>{{ study.date }}</td>
 	<td>{{ study.title }}</td>
 	<td>{% if study.cat01 == True %}
 		True 
 		 {% endif %}
	</td>
	<td>{% if study.cat02 == True %}
 		True 
 		 {% endif %}
	</td>
	<td>{% if study.cat03 == True %}
 		True 
 		 {% endif %}
	</td>
	<td>{% if study.cat04 == True %}
 		True 
 		 {% endif %}
	</td>
	<td>{% if study.cat05 == True %}
 		True 
 		 {% endif %}
	</td>

 </tr>
 {% endfor %}

 </table>


