{% extends "timeline/base.html" %}

	{% block content %}	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			{% if not categories %}
				<h2>열심히 공부해볼까요?</h2>
				<p>달력이 비어있네요. 먼저 요즘 어떤 공부를 하고 있는지 카테고리들을 먼저 추가하고, 날짜별 공부일정을 등록해보세요.</p>
			{% else %}
				<h2>열심히 공부하고 있습니다</h2>
			{% endif %}
			</div>
		</div>

		{% if categories %}
		<div class="row">
			<div class="col-lg-12">
				<h4>오늘 공부 추가하기</h4>
				<form class="form-horizontal" action="{% url 'add' %}" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="title" class="col-lg-2 control-label">Title</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" name="title" id="title" placeholder="오늘 뭘 하셨나요?">
						</div>
					</div>
					<div class="form-group">
						<label for="date" class="col-lg-2 control-label">Date</label>
						<div class="col-lg-8">
							<input type="date" class="form-control" format="yyyy-mm-dd" name="date" id="date">
						</div>
					</div>
					<div class="form-group">
						<label for="contents" class="col-lg-2 control-label">Details</label>
						<div class="col-lg-8">
							<textarea class="form-control" rows="3" name="contents" id="contents"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Categories</label>
						<div class="col-lg-8">
						{% for category in categories %}

							<label class="checkbox-inline">
								<input type="checkbox" name="category" id="category-{{ category.id }}" value="{{category.name}}"> {{ category }}
							</label>
						{% endfor %}
						</div>
					</div>
					<!-- <div class="form-group">
						<label for="image" class="col-lg-2 control-label">Files</label>
						<div class="col-lg-8">
							<input type="file" class="form-control" name="image" id="image"/>
						</div>
					</div> -->
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-8">
							<button type="submit" class="btn btn-default">등록</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="row" style="margin-top:30px">
			<div class="col-lg-10">
	 			<form action="{% url 'delete' %}" method="post">
				{% csrf_token %}
					<div class="table-responsive">
					<table class="table">
						<tr>
							<th></th>
							<th>date</th>
							<th>title</th>
							{% for cat in categories %}
							<th>{{cat.name}}</th>
							{% endfor %} 
						</tr>
					
						{% for study in study_list %}
						<tr>
							<td><input type="checkbox" name="item" value="{{ study.id }}" /></td>
							<td>{{ study.date|date:"Y-m-d" }}</td>
							<td><a href="{% url 'detail' study.id %}">{{ study.title }}</a></td>
							{% for cat in categories %}
							<td>
							{% if cat.name in study.cat %}
							O
							{% endif %}
							</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
					</div>
					{% if study_list %}
					<button type="submit" class="btn btn-default">삭제</button>
					{% endif %}
				</form>
			</div>
		</div>
		{% endif %}
	</div>
	
	<div class="container">
		<div class="row">
			<hr>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form class="form-inline" action="{% url 'catadd' %}" method="post">
				{% csrf_token %}
					<div class="form-group">
						<label for="name">새 카테고리  </label>
						<input type="text" class="form-control" name="name" id="name" placeholder="ex) 독서">
					</div>
	  				<button type="submit" class="btn btn-default">추가</button>
				</form>
			</div>
		</div>
		
		{% if categories %}
		<div class="row" style="margin-top:10px">
			<div class="col-lg-12">
				<form class="form-inline" action="{% url 'catdelete' %}" method="post">
				{% csrf_token %}
					<div class="form-group">
						{% for cat in categories %}
						<label class="checkbox-inline">
							<input type="checkbox" name="cat_name" value="{{ cat.id }}"> {{ cat.name }}
						</label>
						{% endfor %}
					</div>
					<button type="submit" class="btn btn-default">카테고리 삭제</button>
				</form>
			</div>
		</div>
		{% endif %}
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form class="form-inline" action="{% url 'add_follower' %}" method="post">
				{% csrf_token %}
					<div class="form-group">
						<label for="follower_id">이 페이지를 볼 수 있는 User ID: </label>
						<input type="text" class="form-control" name="follower_id" id="follower_id" placeholder="ex) 1082">
					</div>
	  				<button type="submit" class="btn btn-default">추가</button>
				</form>
			</div>
		</div>

		{% if follower_IDs %} 
		<div class="row" style="margin-top:10px">
			<div class="col-lg-12">
				<!-- <form class="form-inline" action="{% url 'delete_follower' %}" method="post">
				{% csrf_token %} -->
					<div> <!-- class="form-group" -->
					<label> 현재 등록된 followers :</label><br>
					{% for each_id in follower_IDs %}

						<!-- <label class="checkbox-inline">
							<input type="checkbox" name="follower_name" value="{{ follower.id }}">  -->
						{{ each_id }} |
					{% endfor %}
					<br>
						<!-- </label> -->
					{% for each_name in follower_usernames %}
						{{ each_name}} |
					{% endfor %}
					</div>
<!-- 	  				<button type="submit" class="btn btn-default">팔로워 선택 삭제</button>
 -->			<!-- 	</form> -->
			</div>
		</div>
		{% endif %}
	</div>

	{% endblock %}
