<html>

<head>
</head>

<body>

{{ user.username }} 님이 로그인하셨습니다. <br>
<a href="/logout/">로그아웃<br></a>

	
{% if not categories %}
<h3>열심히 공부해볼까요?</h3>
달력이 비어있네요. 먼저 요즘 어떤 공부를 하고 있는지 카테고리들을 먼저 추가하고, 날짜별 공부일정을 등록해보세요. <br><br>

{% else %}
<h3>열심히 공부하고 있습니다</h3>
오늘 공부 추가하기 <br><br>


<form action="/add/" method="post">
{% csrf_token %}

    title :<input type="text" name="title" id="title" value="" /><br>
    date :<input type="date" format="yyyy-mm-dd" name="date" id="date" value="" /><br>
    details :<textarea name="contents" id="contents"></textarea><br>

    카테고리 : 
    {% for category in categories %}
    <input type="checkbox" name="category" id="category" value="{{category}}" />
    <label for="category">{{category}}</label>
 	{% endfor %}
<br><input type="submit" value="등록" />
</form>

<br><br>


<form action="/catdelete/" method="post">
{% csrf_token %}
<table>
 <tr>
 	<th></th>
 	<th>date</th>
 	<th>title</th>
 	{% for cat in categories %}
 	<th><input type="checkbox" name="cat_name" value="{{ cat.id }}" />{{cat.name}}</th>
 	{% endfor %} 
 	<th><input type="submit" value="카테고리 선택삭제" /></th>
 </tr>
 </form>

<form action="/delete/" method="post">
{% csrf_token %}
{% for study in study_list %}
 <tr>
 	<td><input type="checkbox" name="item" value="{{ study.id }}" /></td>
 	<td>{{ study.date|date:"Y-m-d" }}</td>
 	<td><a href="/{{study.id}}">{{ study.title }}</a></td>
	{% for cat in categories %}
	<td>
		{% if cat.name in study.cat %}
 		O
 		{% endif %}
	</td>
	{% endfor %}
 </tr>
 {% endfor %}

 </table>
 <input type="submit" value="삭제" />
</form>
{% endif %}
 <br>
 <br>

 <form action="/catadd/" method="post">
	{% csrf_token %}
	새 카테고리 : <input type="name" name="name" id="name" value="" placeholder="기타" /><input type="submit" value="추가" />
	</form>


</body>
</html>
