{% extends "timeline/base.html" %}

{% block sidebar %}
<div class="container">
		<div class="navbar-header">
		<a class="navbar-brand" href="{% url 'index' %}">Timetable</a>
	</div>
</div>
{% endblock %}

{% block content %}	
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 style="margin-bottom:30px">안녕하세요. 타임테이블입니다. </h1>
			<p>매일매일 공부한 것을 날짜별로 기록해보세요. </p>			
 			<p><button type="button" class="btn btn-primary"><a style="color:#ffffff" href="{% url 'social:begin' 'facebook' %}?next={% url 'index' %}">Facebook으로 로그인하기</a></button></p>			
 			<p>페이스북 로그인은 인증용으로, 사용자의 페이스북 담벼락에 어떤 것도 포스팅하지 않습니다.</p> 
		</div>
	</div>
</div>

{% endblock content %}